<div class="card">
  <!-- <img class="card-img-top" src="https://source.unsplash.com/random/200x200" alt="Card image cap"> -->
  <div class="card-body" [ngClass]='cardStyle()'>
    <h5 class="card-title">{{conference.name}}</h5>
    <small>{{conference.location | uppercase}} - {{conference.startingTime | date : 'shortDate'}} </small> <br/>
    <small>Starting time: {{conference.startingTime | date: 'shortTime'}} </small>
    <p class="card-text">{{conference.description}}</p>
    <p>Seats available: {{availableSeats()}}</p>
    <a class="btn btn-primary" [routerLink]="['conf', conference.id]" >Open details</a>
    <button class="btn btn-primary m-2" (click)="addParticipant()">+</button>
    <div *ngIf="passed; else currentEvent" class="alert alert-warning" role="alert">
      Event happened in the past
    </div>
    <ng-template #currentEvent>
      <div class="alert alert-info">
        Event scheduled to happen
      </div>      
    </ng-template>
    <div [ngSwitch]="capacityLevel">
      <div *ngSwitchCase="'full'" class="alert alert-danger" role="alert">
        Conference full
      </div>
      <div *ngSwitchCase="'moderate'" class="alert alert-warning" role="alert">
        Conference in high demand
      </div>
      <div *ngSwitchDefault class="alert alert-success" role="alert">
        Conference has enough places
      </div>
    </div>
  </div>
</div>